[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "spiel-des-jahres"]
	path = spiel-des-jahres
	url = https://gitlab.com/recommend.games/spiel-des-jahres.git
